.DS_Store

/data

/4 MLP/data
/4 MLP/lab4_logs

/5 CNN/cifar_root

/7 CNN + Transfer Learning Style Transfer/cifar_root
/7 CNN + Transfer Learning Style Transfer/imgs
/7 CNN + Transfer Learning Style Transfer/out
/7 CNN + Transfer Learning Style Transfer/root

/8 Image Segmentation/root

/9 Unsupervised Learning/stl10_binary
/9 Unsupervised Learning/stl10_binary.tar.gz

/10/data
/10/models
/10/outs
/10/fasttext_tweetmodel_btc_sg_20_en.vec