.DS_Store

/dane laboratoriun

/4 MLP/data
/4 MLP/lab4_logs

/5 CNN/cifar_root

/7 CNN + Transfer Learning Style Transfer/cifar_root
/7 CNN + Transfer Learning Style Transfer/imgs
/7 CNN + Transfer Learning Style Transfer/out
/7 CNN + Transfer Learning Style Transfer/root

/8 Image Segmentation/root

/9 Unsupervised Learning/stl10_binary
/9 Unsupervised Learning/stl10_binary.tar.gz

/10/fastText
/10/predictions2
/10/fasttext_tweetmodel_btc_sg_20_en.vec
/10/test_emo.txt
/10/test_labels_emo.txt
/10/train_emo.txt
/10/train_labels_emo.txt
/10/val_emo.txt
/10/val_labels_emo.txt